<!DOCTYPE>
<html>
<head>
  <title>Mad Libs</title>
  <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
</head>
<body>
  <h1>At the Arcade!</h1>
  <p>When I go to the arcade with my @Model.PluralNoun1 there are lots of games to play. I spend lots of time there with my friends. In the game X-Men you can be different @Model.PluralNoun2. The point of the game is to @Model.Verb every robot. You also need to save people. Then you can go to the next level. In the game Star Wars you are Luke Skywalker and you try to destroy every @Model.Noun1. In a car racing/motorcycle racing game you need to beat every computerized vehicle that you are @Model.IngVerb against. There are a whole lot of other cool games. When you play some games you win @Model.PluralNoun3 for certain scores. Once you're done you can cash in your tickets to get a big @Model.Noun2. You can save your @Model.PluralNoun4 for another time. When I went to this arcade I didn't believe how much fun it would be. So far I have had a lot of fun every time I've been to this great arcade! </p>
  <br>
  <a href="/">Take me back home</a>
</body>
</html>